doctype html
html(lang=en)
  head
    title WPI Collablab - Status
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    link(href='css/signin.css', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css', rel='stylesheet')
  body
    .container
      .col-md-6.col-md-offset-3
        h1
          | The lab is currently&nbsp;
          strong
            span(id='isOpen') 

        br
        br
        h3
          .panel.panel-primary
            .panel-heading Who is in the lab?
            .panel-body
              h4
                ul.list-group
                  div(id='who')
    script(src='js/common.js')
    script(src='js/external.js')
