doctype html
html(lang=en)
  head
    title WPI Collablab - Status
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    link(href='css/signin.css', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css', rel='stylesheet')
  body
    nav.navbar.navbar-default
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Home

        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/schedule') Scheduled Lab Hours
          form.navbar-form.navbar-right
            button.pull-right.btn.btn-primary(style='display:inline;' onClick='login()')
              span.glyphicon.glyphicon-log-in  Management
    .container
      br
      .col-md-8.col-md-offset-2
        h1
          | The lab is currently&nbsp;
          strong
            span(id='isOpen')
        br
        br
        h3
          .panel.panel-primary
            .panel-heading Who is in the lab?
            .panel-body
              h4
                ul.list-group
                  div(id='who')
    if user && user.labMonitor == 'true'
      #kickModal.modal.fade(aria-hidden='true', tabindex='-1', role='dialog', aria-labelledby='kickingLabel')
        .modal-dialog.modal-md
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='kickModal')
              input.hidden(type='text', id='idNumber')
              h3 Confirm that you want to kick&nbsp;
                span(id='kickName')
                br
                small Confirm that you want to kick the user.
            .modal-body
              button.btn.btn-lg.btn-danger.btn-block(type='submit' onClick='kickUser()') Kick

    script(src='js/common.js')
    script(src='js/external.js')
    script(src='js/notify.js')
    if user && user.labMonitor == 'true'
      script
        | kicking = true;
