doctype html
html(lang=en)
  head
    title WPI Collablab - Lab Swiper
    link(href='css/signin.css', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css', rel='stylesheet')
  body
    nav.navbar.navbar-default
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Home

        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/schedule') Scheduled Lab Hours

    .container
      .col-md-8.col-md-offset-2
        h1
          | The lab is currently&nbsp;
          strong
            span(id='isOpen')
        form.form-signin(role='form' onsubmit="return false;")
          h2.form-signin-heading Swipe to Enter Lab
          input.form-control(type='text', placeholder='Swipe or Type User ID or Username', autofocus='', id='idNumber')
          button.btn.btn-lg.btn-primary.btn-block(type='submit', onClick='submitLogin()') Submit
        br
        br
        h3
          .panel.panel-primary
            .panel-heading Who is in the lab? (Click to kick)
            .panel-body
              h4
                ul.list-group
                  div(id='who')
    #registration.modal.fade(aria-hidden='true', tabindex='-1', role='dialog', aria-labelledby='registrationLabel')
      .modal-dialog
        .modal-content
          .modal-header
            button(type='button', class='close', data-dismiss='registration')
            h3 Register Yourself
              br
              small &nbsp;&nbsp;Fill out the fields to register
          .modal-body
            form.form-horizontal(role='form', id='registrationForm', onsubmit='return false;')
              #nameGroup.form-group
                label.col-md-offset-2.col-md-4.control-label(for='name') Your Full Name
                .col-md-6
                  input.form-control(type='text', placeholder='Your full name', id='name')
              #usernameGroup.form-group
                label.col-md-offset-2.col-md-4.control-label(for='username') Your Username
                .col-md-6
                  input.form-control(type='text', placeholder='Your username', id='username')
              #userIdNumberGroup.form-group
                label.col-md-offset-2.col-md-4.control-label(for='userIdNumber') Your ID Number
                .col-md-6
                  input.form-control(type='text' placeholder='Enter Your ID Number', id="userIdNumber")
              #passwordRegistrationGroup.form-group
                label.col-md-offset-2.col-md-4.control-label(for='passwordRegistration') Your Desired Password
                .col-md-6
                  input.form-control(type='password' placeholder='Enter Your Password', id="passwordRegistration")
              #confirmPasswordRegistrationGroup.form-group
                label.col-md-offset-2.col-md-4.control-label(for='confirmPasswordRegistration') Confirm Your Password
                .col-md-6
                  input.form-control(type='password' placeholder='Confirm Your Password', id="confirmPasswordRegistration")
              #approvalGroup.form-group
                label.col-md-offset-2.col-md-4.control-label(for='approval') Lab Monitor's ID Number
                .col-md-6
                  input.form-control(type='text', placeholder='Enter a Lab Monitor ID Number', id='approval')
              #passphraseGroup.form-group
                label.col-md-offset-2.col-md-4.control-label(for='passphrase') Group Passphrase (Ignore)
                .col-md-6
                  input.form-control(type='password', placeholder='Enter Your Group\'s Passphrase', id='passphrase')
              input.hidden(type='submit', onClick='submitRegistration()')
          .modal-footer
            .form-group
              .col-md-6
                button.btn.btn-lg.btn-danger.btn-block(onClick='cancelRegistration()') Cancel Registration
              .col-md-6
                button.btn.btn-lg.btn-primary.btn-block(onClick='submitRegistration()') Submit Registration

    #closeModal.modal.fade(aria-hidden='true', tabindex='-1', role='dialog', aria-labelledby='kickingLabel')
      .modal-dialog.modal-md
        .modal-content
          .modal-header
            button(type='button', class='close', data-dismiss='closeModal')
            h3 Kick Remaining Users?
              br
              small Confirm the other users have left, and you may forcibly close the lab.
          .modal-body
            form.form-horizontal(role='form', id='closeForm', onsubmit='return false;')
              #kickPasswordGroup.form-group
                label.col-md-offset-1.col-md-4.control-label(for='password') Lab Monitor Password
                .col-md-5
                  input.form-control(type='password', placeholder='Password' id='password')
              input.hidden(type='text', id='hiddenId')
              .form-group
                .col-md-10.col-md-offset-1
                  button.btn.btn-lg.btn-danger.btn-block(type='submit' onClick='kickRemaining()') Kick Remaining Users

    #kickModal.modal.fade(aria-hidden='true', tabindex='-1', role='dialog', aria-labelledby='kickingLabel')
      .modal-dialog.modal-md
        .modal-content
          .modal-header
            button(type='button', class='close', data-dismiss='kickModal')
            input.hidden(type='text', id='kickUser')
            h3 Confirm that you want to kick&nbsp;
              span(id='kickName')
              br
              small Confirm that you want to kick the user.
          .modal-body
            button.btn.btn-lg.btn-danger.btn-block(type='submit' onClick='submitKick(); hideModals()') Kick

    #passwordModal.modal.fade(aria-hidden='true', tabindex='-1', role='dialog', aria-labelledby='kickingLabel')
      .modal-dialog.modal-md
        .modal-content
          .modal-header
            button(type='button', class='close', data-dismiss='passwordModal')
            h3 Set Your Password
              br
              small All lab monitors must have a password set to open/close the lab
          .modal-body
            form.form-horizontal(role='form', id='passwordForm', onsubmit='return false;')
              #currentPasswordGroup.form-group
                label.col-md-offset-1.col-md-4.control-label(for='currentPassword') Your Current Password
                .col-md-5
                  input.form-control(type='password', placeholder='Password' id='currentPassword')
              #newPasswordGroup.form-group
                label.col-md-offset-1.col-md-4.control-label(for='newPassword') New Password
                .col-md-5
                  input.form-control(type='password', placeholder='New Password' id='newPassword')
              #repeatPasswordGroup.form-group
                label.col-md-offset-1.col-md-4.control-label(for='repeatPassword') Confirm New Password
                .col-md-5
                  input.form-control(type='password', placeholder='Confirm New Password' id='repeatPassword')
              .form-group
                .col-md-10.col-md-offset-1
                  button.btn.btn-lg.btn-warning.btn-block(type='submit' onClick='changePassword()') Change Your Password

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='js/notify.js')
    script(src='js/common.js')
    script(src='js/internal.js')
