doctype html
html(lang=en)
  head
    title WPI Collablab - #{title}
    link(href='css/signin.css', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css', rel='stylesheet')
  body
    .container
      h1
        | The lab is currently:&nbsp;
        span(id='isOpen')
          #{message}
      form.form-signin(role='form' onsubmit="return false")
        h2.form-signin-heading Swipe to Enter Lab
        input.form-control(type='text', placeholder='Swipe or Type User ID', autofocus='', id='idNumber')
        button.btn.btn-lg.btn-primary.btn-block(type='submit', onClick='submitLogin()') Submit
      br
      br
      h3
        | <strong>Who's Here?</strong>
      h4
        ul
          div(id='who')
    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h3#myModalLabel Modal header
      .modal-body
        p One fine body…
      .modal-footer
        button.btn(data-dismiss='modal', aria-hidden='true') Close
        button.btn.btn-primary Save changes
    #registration.modal.fade(aria-hidden='true', tabindex='-1', role='dialog', aria-labelledby='registrationLabel')
      .modal-header
        button(type='button', class='close', data-dismiss='modal')
        h3 Register Yourself
      .modal-body
        form.form-signin(role='form' onsubmit="registration()")
          h4.modal-title(id='registrationLabel') Fill out the fields to register
          input.form-control(type='text', placeholder='Your full name', id='name')
          button.btn.btn-lg.btn-primary.btn-block(type='submit')
      .modal-footer

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='js/notify.js')
    script(src='js/collab.js')
