doctype html
html(lang=en)
  head
    title WPI Collablab - #{title}
    link(href='css/signin.css', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css', rel='stylesheet')
  body
    .container
      h1
        | The lab is currently:&nbsp;
        span(id='isOpen')
          #{message}
      form.form-signin(role='form' onsubmit="return false")
        h2.form-signin-heading Swipe to Enter Lab
        input.form-control(type='text', placeholder='Swipe or Type User ID', autofocus='', id='idNumber')
        button.btn.btn-lg.btn-primary.btn-block(type='submit', onClick='submitLogin()') Submit
      br
      br
      h3
        | <strong>Who's Here?</strong>
      h4
        ul
          div(id='who')
    #registration.modal.fade(aria-hidden='true', tabindex='-1', role='dialog', aria-labelledby='registrationLabel')
      .modal-dialog
        .modal-content
          .modal-header
            button(type='button', class='close', data-dismiss='modal')
            h3 Register Yourself
          .modal-body
            br
            form.form-signin(role='form' onsubmit="register()")
              h4.modal-title(id='registrationLabel') Fill out the fields to register
              input.form-control(type='text', placeholder='Your full name', id='name')
              input.form-control(type='text', placeholder='Swipe or enter your ID', id='idNumber')
              input.form-control(type='text', placeholder='Swipe or enter lab monitor ID', id='approval')
          .modal-footer
            .btn-group.btn-block
              button.btn.btn-lg.btn-danger(type='submit') Cancel Registration
              button.btn.btn-lg.btn-primary(type='submit') Submit Registration

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='js/notify.js')
    script(src='js/collab.js')
