doctype html
html(lang=en)
  head
    title WPI Collablab - #{title}
    link(href='css/signin.css', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css', rel='stylesheet')
  body
    .container
      .col-md-6.col-md-offset-3
        h1.text-center
          | Account Management
        form.form-horizontal(role='form' onsubmit="return false;")
          h2.col-md-offset-1
            small
              | Enter credentials to enter portal
          .form-group
            label.col-md-4.control-label(for='idNumber') Your ID Number
            .col-md-7
              input.form-control(type='text', placeholder='Swipe or Type User ID', autofocus='', id='idNumber')
          .form-group
            label.col-md-4.control-label(for='password') Your Password
            .col-md-7
              input.form-control(type='password', placeholder='Enter Password', id='idNumber')
          .col-md-12
            .col-md-5.col-md-offset-1
              button.btn.btn-lg.btn-danger.btn-block(type='submit', onClick='cancelLogin()') Cancel Login
            .col-md-5
              button.btn.btn-lg.btn-primary.btn-block(type='submit', onClick='submitLogin()') Login
    #registration.modal.fade(aria-hidden='true', tabindex='-1', role='dialog', aria-labelledby='registrationLabel')
      .modal-dialog
        .modal-content
          .modal-header
            button(type='button', class='close', data-dismiss='modal')
            h3 Register Yourself
              br
              small &nbsp;&nbsp;Fill out the fields to register
          .modal-body
            form.form-horizontal(role='form', id='registrationForm', onsubmit='return false;')
              #nameGroup.form-group
                label.col-md-offset-2.col-md-4.control-label(for='name') Your Full Name
                .col-md-6
                  input.form-control(type='text', placeholder='Your full name', id='name')
              #userIdNumberGroup.form-group
                label.col-md-offset-2.col-md-4.control-label(for='userIdNumber') Your ID Number
                .col-md-6
                  input.form-control(type='text' placeholder='Enter Your ID Number', id="userIdNumber")
              #approvalGroup.form-group
                label.col-md-offset-2.col-md-4.control-label(for='approval') Lab Monitor's ID Number
                .col-md-6
                  input.form-control(type='text', placeholder='Enter a Lab Monitor ID Number', id='approval')
              input.hidden(type='submit', onClick='submitRegistration()')
          .modal-footer
            .form-group
              .col-md-6
                button.btn.btn-lg.btn-danger.btn-block(onClick='cancelRegistration()') Cancel Registration
              .col-md-6
                button.btn.btn-lg.btn-primary.btn-block(onClick='submitRegistration()') Submit Registration

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='js/notify.js')
    script(src='js/collab.js')
